extends layout

block content
    div(class="messageDisplay")
        - for(let i=0; i<messages.length; i++)
            div(class="messageBox")
                div(class="profilePic" style="background-image:url(" + icons[messages[i].username] + ")")
                div(class="messageBoxText")
                    p(class="username") #{messages[i].username}
                    p(class="timestamp") #{messages[i].timestamp}
                    p(class="messageBody") #{messages[i].messageContents}
                    if messages[i].username == username || username == "Admin"
                        if username == messages[i].username
                            <a class="editMessage" href="/editMessage/#{i}">Edit</a>
                        <a class="delete" href="/delete/#{i}">Delete</a>
        if username != "" && username != null
            p #{username}
            form(id="form", method='post', action="/", autocomplete="off")
                div.form-group
                    label(for='message')
                    input#message.form-control(type='text', name="message" placeholder='Enter Message')
                button.btn.btn-primary(type='submit', value="Home") Send
    div(id="hidden" style="display: none;") #{JSON.stringify(messages)}
    div(id="BarGraph")
        canvas(id="graph")
    script.
        var m = document.getElementById("hidden").innerHTML;
    script(src="script.js")
    